// NOTE(jordan): root should have paragraph font if not specified
font__root(size = 17.6px)
  font-size size
  font-family nah-content-fonts

font__nav(size-mod = 1)
  nav
    font-size (size-mod)rem
    font-family nah-nav-fonts

// NOTE(jordan): simple rules for content blocks
font__content(el, size-mod = 1.2)
  {el}
    if el == code || el == pre
      font-size (size-mod - 0.2)rem
      font-family nah-code-fonts
    else
      font-size (size-mod)rem
      font-family nah-content-fonts

// NOTE(jordan): create an appropriate number of headers
font__heading(i, size-mod-start = 2, size-mod-step = 0.2)
  font-family nah-header-fonts
  font-size (size-mod-start + size-mod-step - size-mod-step * i)rem

