@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://fonts.googleapis.com/css?family=Lora')

@import variables
//@import reset
@import layout
@import fonts
@import headings
@import content

[design='nah']
  headings()
  content-elements()

  margin 0
  padding 0 50px

