// Generated
nah-font-pair = Open Sans, Lora

////

// Common
content-tags = article, aside, button, caption, dd, dl, dt, figcaption, figure, header, label, legend, li, meter, output, p, pre, section, td, textarea

// Fonts
nah-header-fonts  = Helvetica Neue, Helvetica, sans-serif
nah-nav-fonts     = nah-header-fonts
nah-content-fonts = Book Antiqua, Times New Roman, serif
nah-code-fonts    = consolas, monaco, monospace


if lookup('nah-font-pair')
  unshift(nah-header-fonts, nah-font-pair[0])
  unshift(nah-content-fonts, nah-font-pair[1])

if lookup('nah-nav-font')
  unshift(nah-nav-fonts, nah-nav-font)

