
head
  meta(charset='utf-8')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  link(href='nah.css', rel='stylesheet', type='text/css')

body(design='nah')
  nav NAH

  section
    h1
      | Hello.
      | This site has&nbsp;
      u nah
      |  design.

  section
    h1 What's nah?

    nah-block(aria-role='region')
      p It's a tool. It's a philosophy.
      p Here's what this page looks like with nah design: I need to keep typing 
        | so that I can cause the text to wrap so that I can test out some values 
        | for line-height because that's going to be fairly important...

    pre.
      Hello.

      This site has u(nah) design.

      What's nah?

        It's a tool. It's a philosophy.

        Here's what this page looks like with nah design:

